.recorder-container {
  border: 2px solid #ddd;
  background-color: #8c908f;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.microphone-status {
  font-size: 18px;
  margin-bottom: 15px;
}

.record-button, .reset-button {
  background-color: #f2f2f2; /* Color de fondo gris claro */
  border: none;
  color: #8c908f; /* Color de texto gris oscuro */
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 50%; /* Botones redondos */
  transition: background-color 0.3s ease; /* Animación de transición */
}

.record-button:hover, .reset-button:hover {
  background-color: #ddd; /* Color de fondo gris más oscuro al pasar el ratón por encima */
}

.transcript {
  margin-top: 20px;
  font-size: 18px;
}

.response-text {
  margin-top: 10px;
  font-size: 16px;
  font-style: italic;
}



.data-microfono { 
  color: black;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.data-microfono p {
  margin-bottom: 15%;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.transcript {
  background-color: #F4F4F4; /* Color del fondo del mensaje del usuario */
  align-self: flex-start;
}

.responseText {
  background-color: #DCF8C6; /* Color del fondo del mensaje de respuesta */
  align-self: flex-end;
}